BasedOnStyle: WebKit
AlignConsecutiveMacros: AcrossComments
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: Empty
