[submodule "vendor/pico-sdk"]
	path = vendor/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "vendor/picomp3lib"]
	path = vendor/picomp3lib
	url = https://github.com/ikjordan/picomp3lib.git
